body {
	background-color: #f8f8f8;
}

.bg-1 {
	background-color: #26a69a!important;
}

.bg-2 {
	background-color: rgba(117, 111, 111, 0.27);
}

.center {
	text-align: center;
}
.font-1 {
	font-family: 'Poiret One', cursive;
}

.font-2 {
	font-family: 'Asap', sans-serif;
}

.row .section-container {
	margin:  0 auto;
	float: inherit!important;
}

.section {
	background-color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}


.social-btn-container {
	text-align: center;
}
.social-btn{
	margin-bottom: 5px;
	width: 70%;
}

a.brand-logo {
    margin-top: 10px;
}

.tag {
	text-transform: capitalize;
}

a.waves-effect.waves-light.btn.dislike:hover {
    background-color: #E27979;
}